.container {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input[type=submit] {
    width: 90%;
    height: 30px;
    background-color: #AAFFCC;
}
input[type=submit]:hover {
    cursor: pointer;f
background-color: #C0FF00;

}
input[type=submit]:active {

    background-color: #00FF00;

}
input[type = text]:hover{
    background-color: #9a9a9a;
}
input[type = password]:hover{
    background-color: #9a9a9a;
}
h1{
    background-color:#0000;
}
