.CardOK {
    border: solid 2px #000000;
    border-radius: 1vw;
    width: 79vw;
    height: 12vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #CFF37D 0%, #7DE88C 100%);
    padding-right: 1vw;



}
.CardNotOK {
    border: solid 2px #000000;
    border-radius: 1vw;
    width: 79vw;
    height: 12vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 1vw;
    background: linear-gradient(90deg, #FFB199 0%, #FF0844 100%);

}
.card-1
{
    width: 79vw;
    height: 12vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background:url("./meteor1.svg");
    background-size:8%;
    background-repeat: no-repeat;
    background-position: left 17% bottom 60%;
}
.card-2
{
    width: 79vw;
    height: 12vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background:url("./meteor1.svg");
    background-size:20%;
    background-repeat: no-repeat;
    background-position: left 17% top 160%;
}
.card-3
{
    width: 79vw;
    height: 12vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background:url("./meteor1.svg");
    background-size:40%;
    background-repeat: no-repeat;
    background-position: left 17% top 110%;
}
.container
{
    padding-bottom: 1vw;
    flex-direction: column;
    align-items: center;

}
